<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlfaBank.Logger" version="1.0.1" targetFramework="net462" />
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="12.2.1100" targetFramework="net462" />
  <package id="Unity" version="5.2.0" targetFramework="net462" />
</packages>